
<!------ Include the above in your HEAD tag ---------->

<section class="head">
    <div class="container">
        <h2 class="text-center"><span>This is landing page </span>Created with <i class="fa fa-heart"></i> from Grafreez</h2>
    </div>
</section>